 <div class="home">
        <p>I spend most of my working hours at <A HREF = "http://www.happyfuncorp.com/"><mark>HappyFunCorp</mark></A>, where I have the great privilege of working with some of the most talented thinkers. I <a href="pages/advise"><mark>advise and work with</mark></a> a handful of companies, sit on a few great boards and invest in companies I think I can help. One of my passions is <a href="pages/mentor"><mark>working with and mentoring</mark></a> individuals during challenging business times. I also like to <A HREF = "https://techcrunch.com/author/ben-schippers/"><mark>write</mark></A> when I can find the time.<a href="mailto:bschippers718@gmail.com"><mark>Reach Out</mark></a>  
			<blockquote class="blockquote text-right">
 				 <p class="mb-0">
					<a href="pages/comm"><p>High School Commencement | 6/21/2019</a></p>
 				 <footer class="blockquote-footer">Ben Schippers</footer>
			</blockquote>
        	
</div>



