<div class="mentor">
	<p>Running businesses are hard. Over the years I've worked with great people, founders and CEOS work through difficult person and business related problems.  It's one of my favorite parts of the day. </p>

<blockquote class="blockquote">
  <p class="mb-0">One of my fav. quotes here.</p>
</blockquote>

 <a href="/"><mark>/</mark></a>
