<div class="mentor">
	<p>When the timeing permits - I love working with CEOs and founders helping them navigate challenging  times.  
    Reach out if you want to talk, <a href="mailto:bschippers718@gmail.com"><mark>please reach out.</mark></a></p> 

<blockquote class="blockquote text-right">
  <p class="mb-0">
“Business is war without bullets.”</p>
  <footer class="blockquote-footer">Phil Knight</footer>
</blockquote>


 <a href="/"><mark>/</mark></a>
