<div class="mentor">
	<p>Over the years I’ve helped individuals, founders, CEOs and others work through difficult business related problems.  Such problems may consist, but are not limited to - funding, partnership disputes, support with critical thinking during ambiguous times and a variety of tips for managing, stress and anxiety.  Helping people is one of my favorite parts of the day. I also team up with other experts that I can recoomend if I'm not the right person, given the specific issue.
    If you’d like to connect to schedule time, <a href="mailto:bschippers718@gmail.com"><mark>please reach out.</mark></a></p> 


<blockquote class="blockquote">
  <p class="mb-0">One of my fav. quotes here.</p>
</blockquote>

 <a href="/"><mark>/</mark></a>
