@import "bootstrap-sprockets";
@import "bootstrap";

body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: #white;
}

.home {
	color: black;
	font-family: Lato;
	font-size: 40px;
	font-weight: normal;
	text-align: left;
	opacity: 0.8;
	margin-left: 20px;
}

.advise {

	color: black;
	font-family: Lato;
	font-size: 40px;
	font-weight: normal;
	text-align: left;
	opacity: 0.8;
	margin-left: 20px;
}

.me {


}

.mentor {

	color: black;
	font-family: Lato;
	font-size: 40px;
	font-weight: normal;
	text-align: left;
	opacity: 0.8;
	margin-left: 20px;

}



.contact {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: lighter;
	text-align: center;
	margin-top: 10px;
	opacity: 0.8;
}